<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "de.kap.base.placity"
        versionCode = "9"
        version     = "1.0.2">
 
    <name>Placity</name>
 
    <description>
        Placity by Kaiserdom APP Project.
    </description>
 
    <author href="http://www.placity.de" email="fabian.koegel@kaiserdom-app.de">
        Fabian Kögel
    </author>
            
    <preference name="orientation" value="portrait"/>
    <preference name="phonegap-version" value="3.3.0"/>
    <preference name="DisallowOverscroll" value="true" />
    <preference name="webviewbounce" value="false" />
    
    <gap:platform name="ios" />
    <gap:platform name="android" />
    
    <preference name="android-minSdkVersion" value="11" />
    
    <preference name="target-device" value="handset" />
    <preference name="splash-screen-duration" value="2000"/>
    
    <gap:plugin name="com.phonegap.plugins.barcodescanner" />
    
    <preference name="permissions" value="none"/>
    <gap:plugin name="org.apache.cordova.network-information" />
    <gap:plugin name="org.apache.cordova.dialogs" />
    
    <icon src="icons/ldpi.png" gap:platform="android" gap:density="ldpi" />
    <icon src="icons/mdpi.png" gap:platform="android" gap:density="mdpi" />
    <icon src="icons/hdpi.png" gap:platform="android" gap:density="hdpi" />
    <icon src="icons/xhdpi.png" gap:platform="android" gap:density="xhdpi" />
    
    <icon src="icons/icon.png" gap:platform="ios" width="57" height="57" />
    <icon src="icons/icon-72.png" gap:platform="ios" width="72" height="72" />
    <icon src="icons/icon_at_2x.png" gap:platform="ios" width="114" height="114" />
    <icon src="icons/icon-72_at_2x.png" gap:platform="ios" width="144" height="144" />
    
    <preference name="prerendered-icon" value="true" />
    
    <gap:splash src="splash.png" />
    
    <gap:splash src="splash/ldpi.png" gap:platform="android" gap:density="ldpi" />
    <gap:splash src="splash/mdpi.png" gap:platform="android" gap:density="mdpi" />
    <gap:splash src="splash/hdpi.png" gap:platform="android" gap:density="hdpi" />
    <gap:splash src="splash/xhdpi.png" gap:platform="android" gap:density="xhdpi" />
        
    <gap:splash src="splash/Default.png" gap:platform="ios" width="320" height="480" />
    <gap:splash src="splash/Default_at_2x.png" gap:platform="ios" width="640" height="960" />
    <gap:splash src="splash/Default_iphone5.png" gap:platform="ios" width="640" height="1136" />
    <gap:splash src="splash/Default-Portrait.png" gap:platform="ios" width="768" height="1004" />

    <!-- retina iPad support: PhoneGap 2.5.0+ only -->
    <gap:splash src="splash/Default-Portrait_at_2x.png" gap:platform="ios" width="1536" height="2008" />
    
    <access origin="*" />
 
</widget>